*{
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;

}

body{

    background-color: rgb(224, 224, 224);
    

}



ul {
    list-style-type: none;
}

header{
    vertical-align: middle;

}
main{
    margin: auto;
    width: 75%;
    
}

.box{
    background-color: white;
    margin: 3px 0;
    padding: 35px;

}

.add-button{
    display: inline;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;

}

.checked{
    display: inline;
    width: 20px;
    height: 20px;
    color: limegreen;
    border: 2px solid limegreen;
    border-radius: 50%;

}

.not-checked{
    display: inline;
    width: 20px;
    height: 20px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;

}

.main-li{
    font-weight: bolder;
    font-size: x-large;
    margin: 20px 0;
}

.secundary-li {
    Margin: 15px 25px;
}

.list-box{
    display: inline;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}


.edit{

    background-color: skyblue ;

}

.goals{

    background-color: darkmagenta;

}

.recr{

    background-color: darkseagreen;

}

.mob{

    background-color: orange;

}

.web{

    background-color: magenta;

}

.sale{

    background-color: olive;

}

#header{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 50px;
}

#task{
    background-color: blue;
    color: white;
}

#section{
    color: gray;
    border: 1px solid gray;
}

#logo{
    
    width: 75px;
    vertical-align: middle;
    margin: 10px 15px
}

#heading{
    display: inline;
    vertical-align: middle;
    font-weight: 600;
    font-size: 50px;
    
}

#box-1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#box-2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}